    <nav>
        <h1>Prohlížeč databáze zaměstnanců</h1>
        <ul>
            <li><a href="/room/list.php">Místnosti</a></li>
            <li><a href="/ip3/11_SmallViewer/public/room/list.php">Místnosti (funkcni)</a></li>
            <li><a href="/employee/list.php">Zaměstnanci</a></li>
            <li><a href="/ip3/11_SmallViewer/public/employee/list.php">Zaměstnanci (funkcni)</a></li>
        </ul>
            <a href="/logout.php">Odhlásit</a><br>
            <a href="/ip3/11_SmallViewer/public/logout.php">Odhlásit (funkcni)</a><br>
    </nav>